.weather-img {
  background-image: url("../src/assets/images/clearsunny.jpeg");
  background-repeat: no-repeat;
  height: 600px;
}

.today-panel {
  height: 600px;
}

.ui.centered.grid {
  background-color: indianred;
}
/* .navBar {
  position: fixed;
  top: 0;
  width: 100%;
} */
