.List.Header {
  font-family: "Raleway, 800";
}
* {
  font-family: "Raleway", sans-serif;
}

.ui.grid {
  margin-left: 0px !important;
}

#content {
  margin-top: 90px;
}
.weather-img {
  background-image: url("../src/assets/images/clearsunny.jpeg");
  background-repeat: no-repeat;
  height: 600px;
}

/* .div.column {
  padding: 14px;
} */

/* .four.wide.column {
  padding-left: 0px;
  padding-right: 0;
  padding-right: 0px;
} */

/* .today-panel {
  height: 600px;
} */

.today-gradient {
  /* top: 0; */
  width: 100%;
  height: 600px;
  background-image: linear-gradient(#cee397, #8db1ab);
}

.tomorrow-gradient {
  /* position: fixed; */
  /* top: 0; */
  width: 100%;
  height: 600px;
  background-image: linear-gradient(#8db1ab, #587792);
}

.main-content-title {
  color: red;
}

/* .ui.centered.grid {
  background-color: #70e1f5;
} */
/* .navBar {
  position: fixed;
  top: 0;
  width: 100%;
  #ffd194
} */
