.weather-img {
  background-image: url("../src/assets/images/clearsunny.jpeg");
  background-repeat: no-repeat;
  height: 600px;
}

.four.wide.column {
  padding-left: 0px;
  padding-right: 0;
  padding-right: 0px;
}

.today-panel {
  height: 600px;
}

.today-gradient {
  top: 0;
  width: 100%;
  height: 600px;
  background-image: linear-gradient(#56ccf2, #2f80ed);
}

.tomorrow-gradient {
  /* position: fixed; */
  top: 0;
  width: 100%;
  height: 600px;
  background-image: linear-gradient(#70e1f5, #ffd194);
}

/* .ui.centered.grid {
  background-color: #70e1f5;
} */
/* .navBar {
  position: fixed;
  top: 0;
  width: 100%;
  #ffd194
} */
